## 1 Sample t-test : Compare sample mean with population mean

In [2]:
import pandas as pd
import numpy as np
import os

os.chdir("C:/Users/Abhishek/Desktop/UpGrade/Day 12  Statistical Learning - 5/Datasets")

data = pd.read_excel("1. One Sample.xlsx")

#data= data.dropna()
data

       ids  Height
0    43783   72.35
1    20278   70.66
2    20389   70.68
3    24559   67.43
4    28980   68.45
..     ...     ...
403  36563   66.26
404  40697   68.50
405  34272   68.10
406  33628   69.27
407  39298   66.68

[408 rows x 2 columns]

## Note : Null hypothesis is Always negative statement
-  Ho (Null hypothesis) = No significant difference of mean of student height against population mean = 65
-  H1 (Alt hypothesis)  = there is significant difference of mean of student height against population mean = 65

- Here we have population mean = 65 (Assumption)

In [3]:
from scipy.stats import ttest_1samp

In [4]:
# Have to pass population mean too

# data.Height : Is the sample
# 65          : Is the population mean
stats ,p = ttest_1samp(data.Height,65)

In [5]:
print(stats,p)

# Stats in calculated value (Critical value)
# P is the significance value

11.498800238580099 1.087893570160242e-26

# Here we are using P-Value approach. Therefore if P<0.05 we reject Null hypo and Accept Alternate hypo

### Here our P is <0.05 therefore we can Reject the Null Hypo

___

## 2 Sample Paired t-test : Compare mean of 2 Paired samples

In [6]:
data1 = pd.read_excel("2. Paired Sample.xlsx")

#data= data.dropna()
data1

# Data is paired because there are 2 samples for a same student

       ids  English   Math
0    43783    88.24  60.02
1    20278    89.45  70.19
2    20389    96.73  71.20
3    22820    74.06  55.89
4    24559    82.61  65.52
..     ...      ...    ...
393  34021    87.72  65.31
394  40697    91.01  70.25
395  34272    81.05  58.16
396  33628    75.59  66.84
397  39298    75.65  60.24

[398 rows x 3 columns]

## Note : Null hypothesis is Always negative statement
-  Ho (Null hypothesis) = No significant difference of mean of English and maths
-  H1 (Alt hypothesis)  = there is significant difference of mean of  English and maths

In [7]:
from scipy.stats import ttest_rel

In [8]:
stats ,p = ttest_rel(data1.English , data1.Math)

In [9]:
print(stats,p)

# Stats in calculated value (Critical value)
# P is the significance value

36.312568981719856 3.0710987192210606e-128

# Here we are using P-Value approach. Therefore if P<0.05 we reject Null hypo and Accept Alternate hypo

### Here our P is <0.05 therefore we can Reject the Null Hypo

___

## 2 Sample Indepeendent t-test : Compare mean of 2 Independent samples

In [10]:
data2 = pd.read_excel("3. Independent Sample.xlsx",sheet_name=3)

#data= data.dropna()
data2

     Nonathelete  Athelete
0       0.004413  0.004462
1       0.004872  0.005146
2       0.008851  0.004023
3       0.006508  0.003941
4       0.006314  0.004764
..           ...       ...
161     0.005632  0.005203
162     0.004447  0.003886
163     0.006979  0.004998
164     0.006226  0.005865
165     0.007278  0.005018

[166 rows x 2 columns]

## Note : Null hypothesis is Always negative statement
-  Ho (Null hypothesis) = No significant difference of mean of duration b/w Athlete and nonAthlete
-  H1 (Alt hypothesis)  = there is significant difference of mean of  duration b/w Athlete and nonAthlete

In [11]:
from scipy.stats import ttest_ind

In [12]:
stats ,p = ttest_ind(data2.Nonathelete , data2.Athelete)

In [13]:
print(stats,p)

# Stats in calculated value (Critical value)
# P is the significance value

13.368790432137319 7.116633157230895e-33

# Here we are using P-Value approach. Therefore if P<0.05 we reject Null hypo and Accept Alternate hypo

### Here our P is <0.05 therefore we can Reject the Null Hypo

___

---

# Annova : is used to compare 2 or more Sample means
## 2 types of annova :
- 1 sample f-test (1 way Annova)
- 2 sample f-test (2 way Annova)

#  1 Sample f-test (1 way Annova)
- When Dependent var : Continous , independent : categorical

In [20]:
data3 = pd.read_excel("ANCOVA1.xlsx")

#data= data.dropna()
data3.head()

   Store Number  Sales  Promotion  Coupon  ClietelRatings
0             1     10          1       1               9
1             2      9          1       1              10
2             3     10          1       1               8
3             4      8          1       1               4
4             5      9          1       1               6

## Note : Null hypothesis is Always negative statement
-  Ho (Null hypothesis) = No significant impact of Promotion on Sales
-  H1 (Alt hypothesis)  = there is significant impact of Promotion on Sales

In [19]:
# To perform Annova
import statsmodels.api as sm

# OLS : Ordinary Least Square
from statsmodels.formula.api import ols

In [23]:
# Dependent variable : Sales , C: tells its categorical variable "Promotion"
# ~ : Used to separete independent and dependent variables
model = ols("Sales~C(Promotion)",data3).fit()

In [25]:
# typ=2 is for Anova and Ancova
#typ= 1 is for Linear regression , typ=3 is for discriminent analysis


oneway = sm.stats.anova_lm(model,typ=2)
print(oneway)

# Here Between variation is 106 , Within variation is : 79

                  sum_sq    df          F    PR(>F)
C(Promotion)  106.066667   2.0  17.943609  0.000011
Residual       79.800000  27.0        NaN       NaN

# P is 0.000011 Therefore we Reject null Hypothesis and Accept Alternate Hypothesis.

-  **i.e Promotion has sifnificant impact on sales**

---

___

#  2 Sample f-test (2 way Annova)  : 2 independent variable
- When Dependent var : Continous , independent : categorical (Can be multiple independent variables)

In [29]:
# Here both Promotion and coupon are independent variables
# C: tells its categorical variable
model = ols("Sales~C(Promotion)+C(Coupon)",data3).fit()

## Note : Null hypothesis is Always negative statement
-  Ho (Null hypothesis) = No significant impact of Promotion and coupon on Sales
-  H1 (Alt hypothesis)  = there is significant impact of Promotion and coupon on Sales

In [30]:
twoway = sm.stats.anova_lm(model,typ=2)
print(twoway)

                  sum_sq    df          F        PR(>F)
C(Promotion)  106.066667   2.0  52.098237  8.032739e-10
C(Coupon)      53.333333   1.0  52.392947  1.095036e-07
Residual       26.466667  26.0        NaN           NaN

## For both Promotion and coupon P value < 0.05 Therefore  we Reject null Hypothesis and Accept Alternate Hypothesis.

-  **i.e both Promotion and coupon has sifnificant impact on sales**

---

---

# ANOCOVA

In [31]:
model = ols("Sales~C(Promotion)+C(Coupon)+ClietelRatings",data3).fit()

In [32]:
ancova = sm.stats.anova_lm(model,typ=2)
print(ancova)

                    sum_sq    df          F        PR(>F)
C(Promotion)    106.066667   2.0  51.732296  1.301539e-09
C(Coupon)        53.333333   1.0  52.024936  1.471502e-07
ClietelRatings    0.837931   1.0   0.817375  3.745789e-01
Residual         25.628736  25.0        NaN           NaN

## P values of Promotion and coupon is <0.05 (Significant impact on sales)
## P value of ClietelRatings >0.05 (NO Significant impact on sales)