In [7]:
import pandas as pd
import numpy as np
import os

os.chdir("C:/Users/Abhishek/Desktop/UpGrade/Day 12  Statistical Learning - 5/Datasets")

data = pd.read_excel("5 Chi square Test.xlsx")

data= data.dropna()
data

       ids  Gender        Smoking
0    43783  Female      NonSmoker
1    20278  Female      NonSmoker
2    20389  Female      NonSmoker
4    24559    Male  CurrentSmoker
5    28980  Female      NonSmoker
..     ...     ...            ...
430  34021    Male      NonSmoker
431  40697  Female      NonSmoker
432  34272  Female      NonSmoker
433  33628    Male  CurrentSmoker
434  39298    Male     PastSmoker

[402 rows x 3 columns]

## Note : Null hypothesis is Always negative statement
-  Ho (Null hypothesis) = No dependency between Gender and Smoking
-  H1 (Alt hypothesis)  = there is dependency between Gender and Smoking

## Chi square : To check dependency of the variables, variable should be categorical

In [2]:
from scipy.stats import chi2_contingency

In [8]:
# Draw Cross tabulation whenever we do Chi-Square test
chitable = pd.crosstab(data.Gender , data.Smoking)
chitable

Smoking  CurrentSmoker  NonSmoker  PastSmoker
Gender
Female              31        149          13
Male                37        148          24

In [10]:
stats ,p ,dof ,expected = chi2_contingency(chitable)

In [12]:
print(stats,p)

# Stats in calculated value (Critical value)
# P is the significance value

3.1712567666931584 0.20481904779163013

# Here we are using P-Value approach. Therefore if P<0.05 we reject Null hypo and Accept Alternate hypo

### Here our P is >0.05 therefore we can Accept the Null Hypo