In [3]:
import pandas as pd
import numpy as np
import os

os.chdir("C:/Users/Abhishek/Desktop/UpGrade/Day 12  Statistical Learning - 5/Datasets")

data = pd.read_excel("4 Kruskal Wallis.xlsx")

data

   Design1  Design2  Design3  Showroom
0       11       12       23         1
1       17       10       20         2
2       16       15       18         3
3       14       19       17         4
4       15       11       10         5

## Note : Null hypothesis is Always negative statement
-  Ho (Null hypothesis) = No significant difference in sales on design 1 ,design 2 and design 3
-  H1 (Alt hypothesis)  = there is significant difference in sales on design 1 ,design 2 and design 3

## Kruskal Wallis test : More than 2 independent samples

In [4]:
from scipy.stats import kruskal

In [5]:
stats ,p = kruskal(data.Design1 , data.Design2 ,data.Design3)

In [6]:
print(stats,p)

# Stats in calculated value (Critical value)
# P is the significance value

2.7345323741007226 0.25480259087913626

# Here we are using P-Value approach. Therefore if P<0.05 we reject Null hypo and Accept Alternate hypo

### Here our P is >0.05 therefore we can Accept the Null Hypo