In [10]:
import pandas as pd
import numpy as np
import os

os.chdir("C:/Users/Abhishek/Desktop/UpGrade/Day 12  Statistical Learning - 5/Datasets")

data = pd.read_excel("3 Mann Whitney.xlsx",sheet_name=1)

data

   Design1  Design2
0       11       12
1       17       10
2       16       15
3       14       19
4       15       11

## Note : Null hypothesis is Always negative statement
-  Ho (Null hypothesis) = No significant difference in sales on design 1 and design 2
-  H1 (Alt hypothesis)  = there is significant difference in sales on design 1 and design 2

# Mann Whitney Test : Compare 2 independent samples

In [11]:
from scipy.stats import mannwhitneyu

In [12]:
stats,p = mannwhitneyu(data.Design1 , data.Design2)

In [13]:
print(stats,p)

# Stats in calculated value (Critical value)
# P is the significance value

9.0 0.2641796636354743

# Here we are using P-Value approach. Therefore if P<0.05 we reject Null hypo and Accept Alternate hypo

### Here our P is >0.05 therefore we can Accept the Null Hypo