In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir("C:/Users/Abhishek/Desktop/UpGrade/Day 12  Statistical Learning - 5/Datasets")

In [3]:
data = pd.read_excel("1 Wilcoxon.xlsx")

In [4]:
data.head(3)

   ID  TRT  AGE  WEIGHIN  STAGE  TOTALCIN  TOTALCW2  TOTALCW4 TOTALCW6
0   1    0   52    124.0      2         6         6         6        7
1   5    0   77    160.0      1         9         6        10        9
2   6    0   60    136.5      4         7         9        17       19

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 9 columns):
ID          25 non-null int64
TRT         25 non-null int64
AGE         25 non-null int64
WEIGHIN     25 non-null float64
STAGE       25 non-null int64
TOTALCIN    25 non-null int64
TOTALCW2    25 non-null int64
TOTALCW4    25 non-null int64
TOTALCW6    25 non-null object
dtypes: float64(1), int64(7), object(1)
memory usage: 1.9+ KB

In [6]:
data.describe()

,ID,TRT,AGE,WEIGHIN,STAGE,TOTALCIN,TOTALCW2,TOTALCW4
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.00000
mean,25.600000,0.440000,59.640000,178.280000,1.880000,6.520000,8.280000,10.36000
std,16.309506,0.506623,12.932131,31.976515,1.235584,1.530795,2.541653,3.47467
min,1.000000,0.000000,27.000000,124.000000,0.000000,4.000000,4.000000,6.00000
25%,12.000000,0.000000,52.000000,160.000000,1.000000,6.000000,7.000000,8.00000
50%,24.000000,0.000000,60.000000,172.800000,1.000000,6.000000,8.000000,10.00000
75%,39.000000,1.000000,67.000000,187.000000,2.000000,7.000000,10.000000,12.00000
max,58.000000,1.000000,86.000000,261.400000,4.000000,12.000000,16.000000,17.00000

In [10]:
data.columns
#'TOTALCIN' : Initial calcium level
#'TOTALCW2' : calcium level after 2 weeks
#'TOTALCW4' : calcium level after 4 weeks

Index(['ID', 'TRT', 'AGE', 'WEIGHIN', 'STAGE', 'TOTALCIN', 'TOTALCW2',
       'TOTALCW4', 'TOTALCW6'],
      dtype='object')

## Note : Null hypothesis is Always negative statement
-  Ho (Null hypothesis) = No significant difference in calcium level of patient  initially and after 2 weeks
-  H1 (Alt hypothesis)  = there is significant difference in calcium level of patient  initially and after 2 weeks

In [8]:
# Import Wilcoxon : Used to compare 2 paired samples (Paires means same people in 2 different situation)

from scipy.stats import wilcoxon

In [14]:
stats,p = wilcoxon(data.TOTALCIN ,  data.TOTALCW2)
print(stats,p)

# Stats in calculated value (Critical value)
# P is the significance value

29.5 0.00259741456482452

# Here we are using P-Value approach. Therefore if P<0.05 we reject Null hypo and reject Alternate hypoÂ¶

### Here our P is <0.05 therefore we can Reject the Null Hypo